*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body{
    margin: 0;
    overflow-x: hidden;
}
h1{
    text-align: center;
}
.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.postimg.cc/9FQb8xqH/background-image.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.hero-inner{
    font-size: 25px;
}
@media screen and (max-width:330px) {
    .card {
        width: 270px !important;
    }
}
.info{
  justify-content: center;
  align-content: center;
}
a:hover{
    color: salmon !important;
}
#downnav{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
img{
    max-width: 100%;
    background-size: cover;
}
