*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a:hover{
    color: pink !important;
}
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.submenu {
    position: relative;
}

.submenu #shopping-cart{
    display: none;
}
.submenu:hover #shopping-cart{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
.cart-count{
    position: absolute;
    background-color: #e6d6e2;
    top: -5px;
    right: 0;
    padding: 3px;
    height: 20px;
    width: 20px;
    line-height:20px ;
    border-radius: 50%;
    z-index: 99;
  }
  
  #cart-icon{
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 10px;
  }
  @media screen and (max-width: 300px) {
    .featured-item{
        width: 100% !important;
    }
  }
  @media screen and (max-width: 400px) {
    img{
        width: 100% !important;
    }
  }

  @media screen and (max-width: 420px ) {
    img{
        width: 100% !important;
    }
  }
  @media screen and (max-width: 500px) {
    img{
        width: 100% !important;
    }
  }
  @media screen and (max-width: 520px) {
    img{
        width: 100% !important;
    }
  }
  @media screen and (max-width: 600px) {
    img{
        width: 100% !important;
    }
  }
  @media screen and (max-width: 610px) {
    img{
        width: 100% !important;
    }
  }
  @media screen and (max-width: 700px) {
    img{
        width: 100% !important;
    }
  }
